<!DOCTYPE html>
<html ng-app="registration">
<head lang="en">
	<meta charset="UTF-8">
	<title>Registration</title>
</head>
<body ng-controller="RegistrationController">
	Username: <input type="text" ng-model="username" /><br />
	Password: <input type="password" ng-model="password" /><br />
	<button ng-click="submit()">Registration</button>
	<script type="text/javascript" src="lib/angular/angular.js"></script>
	<script type="text/javascript" src="scripts/registration.js"></script>
</body>
</html>