#light {
	width: 300px;
	height: 200px;
}

#words {
	font-size: 2em;
	margin-left: 120px;
}

.red {
	background-color: #f2422d;
}

.yellow {
	background-color: #f4c640;
}

.green {
	background-color: #92cf00;
}