.state-indicator {
    width: 300px;
    height: 200px;
}

.state-working {
    background-color: #ff7e50;
}

.state-coffee {
    background-color: #907259;
}

.state-meeting {
    background-color: #82c0ff;
}